body {
    background-color: #f076b9;
    color: #ce3202;
}
.placeholder::placeholder {
    color: #ce3202;
    opacity: 1;
}
.action-button::before {
    transition: transform 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: block;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    transform: scale(1, 1);
    transform-origin: left center;
    z-index: -1;
}
.action-button {
    transition: color 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86), border 0.45s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    z-index: 1;
}